In [65]:
import datasets
import pandas as pd
import os

import warnings
warnings.filterwarnings(action='once')

In [66]:
df_goemotions = datasets.load_dataset("go_emotions")
df_goemotions

DatasetDict({
    train: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 43410
    })
    validation: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 5426
    })
    test: Dataset({
        features: ['text', 'labels', 'id'],
        num_rows: 5427
    })
})

In [67]:
df_train = pd.DataFrame(df_goemotions['train'])
df_test = pd.DataFrame(df_goemotions['test'])
df_val = pd.DataFrame(df_goemotions['validation'])
new_df = pd.concat([df_train, df_test, df_val])
new_df

                                                   text labels       id
0     My favourite food is anything I didn't have to...   [27]  eebbqej
1     Now if he does off himself, everyone will thin...   [27]  ed00q6i
2                        WHY THE FUCK IS BAYLESS ISOING    [2]  eezlygj
3                           To make her feel threatened   [14]  ed7ypvh
4                                Dirty Southern Wankers    [3]  ed0bdzj
...                                                 ...    ...      ...
5421  It's pretty dangerous when the state decides w...   [14]  edyrazk
5422  I filed for divorce this morning. Hoping he mo...   [20]  edi2z3y
5423  The last time it happened I just said, "No" an...   [10]  eewbqtx
5424  I canâ€™t stand this arrogant prick heâ€™s no bett...    [3]  eefx57m
5425              ::but I like baby bangs:: /tiny voice   [18]  ed5h3jh

[54263 rows x 3 columns]

In [68]:
new_df['labels'] = new_df['labels'].apply(lambda x: x[0])
new_df.drop(['id'], axis=1, inplace=True)
new = new_df[new_df['labels'] == 27][:5000]
new['labels'] = 0
new

                                                    text  labels
0      My favourite food is anything I didn't have to...       0
1      Now if he does off himself, everyone will thin...       0
9      It might be linked to the trust factor of your...       0
12     Hello everyone. Im from Toronto as well. Can c...       0
18                   that is what retardation looks like       0
...                                                  ...     ...
16851                                   [NAME] best girl       0
16852            [NAME] is a jinx. Please send him back.       0
16853                                       The NERVE! ðŸ¤£       0
16857         An other skier that wasn't injured I guess       0
16859          Why not make a piece and send it to them?       0

[5000 rows x 2 columns]

In [69]:
sms_df = pd.read_csv('./training_data/SMSSpamCollection', sep='\t', header=None)
sms_df.columns=['labels', 'text']
sms_df

     labels                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will Ã¼ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [70]:
sms_df['labels'] = sms_df['labels'].replace({'ham': 0, 'spam': 1})
sms_df.drop_duplicates(inplace=True)
sms_df

C:\Users\denys\AppData\Local\Temp\ipykernel_14316\1458282750.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  sms_df['labels'] = sms_df['labels'].replace({'ham': 0, 'spam': 1})

      labels                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0               Will Ã¼ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [71]:
youtube_df = pd.DataFrame()
for file_name in os.listdir('training_data/youtube_comments'):
    youtube_df = pd.concat([youtube_df, pd.read_csv(f'training_data/youtube_comments/{file_name}')])
youtube_df

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ï»¿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .ï»¿,1
...,...,...,...,...,...
365,_2viQ_Qnc6-bMSjqyL1NKj57ROicCSJV5SwTrw-RFFA,Katie Mettam,2013-07-13T13:27:39.441000,I love this song because we sing it at Camp al...,0
366,_2viQ_Qnc6-pY-1yR6K2FhmC5i48-WuNx5CumlHLDAI,Sabina Pearson-Smith,2013-07-13T13:14:30.021000,I love this song for two reasons: 1.it is abou...,0
367,_2viQ_Qnc6_k_n_Bse9zVhJP8tJReZpo8uM2uZfnzDs,jeffrey jules,2013-07-13T12:09:31.188000,wow,0
368,_2viQ_Qnc6_yBt8UGMWyg3vh0PulTqcqyQtdE7d4Fl0,Aishlin Maciel,2013-07-13T11:17:52.308000,Shakira u are so wiredo,0
369,_2viQ_Qnc685RPw1aSa1tfrIuHXRvAQ2rPT9R06KTqA,Latin Bosch,2013-07-12T22:33:27.916000,Shakira is the best dancer,0

In [72]:
youtube_df.drop(['COMMENT_ID', 'AUTHOR', 'DATE'],axis=1, inplace=True)
youtube_df.columns = ['text', 'labels']
youtube_df.drop_duplicates(inplace=True)
youtube_df['labels'] = pd.to_numeric(youtube_df['labels'])
youtube_df

                                                  text  labels
0    Huh, anyway check out this you[tube] channel: ...       1
1    Hey guys check out my new channel and our firs...       1
2               just for test I have to say murdev.com       1
3     me shaking my sexy ass on my channel enjoy ^_^ ï»¿       1
4              watch?v=vtaRGgvGtWQ   Check this out .ï»¿       1
..                                                 ...     ...
364                                  well done shakira       0
365  I love this song because we sing it at Camp al...       0
366  I love this song for two reasons: 1.it is abou...       0
368                            Shakira u are so wiredo       0
369                         Shakira is the best dancer       0

[1760 rows x 2 columns]

In [73]:
spam_df = pd.concat([youtube_df, sms_df, new])
spam_df = spam_df[spam_df['text'].duplicated(keep=False) == False]
spam_df

                                                    text  labels
0      Huh, anyway check out this you[tube] channel: ...       1
1      Hey guys check out my new channel and our firs...       1
2                 just for test I have to say murdev.com       1
3       me shaking my sexy ass on my channel enjoy ^_^ ï»¿       1
4                watch?v=vtaRGgvGtWQ   Check this out .ï»¿       1
...                                                  ...     ...
16851                                   [NAME] best girl       0
16852            [NAME] is a jinx. Please send him back.       0
16853                                       The NERVE! ðŸ¤£       0
16857         An other skier that wasn't injured I guess       0
16859          Why not make a piece and send it to them?       0

[11924 rows x 2 columns]

In [74]:
spam_df.to_csv('./training_data/my_spam_dataset.csv', index=False)